{# base.htmlを継承 #}
{% extends 'base.html' %}
{% load bootstrap4 %}

{# タイトルを変更 #}
{% block title %}Home{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid jumbotron-container">
        <div class="jumbotron-fluid">
            <div class="logo">
            </div>
        </div>
            <form action="{% url 'poll:index' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="offset-md-6 col-md-12">
                        {% bootstrap_form form layout='horizontal' %}
                    </div>
                </div>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <button class="btn btn-outline-primary btn-lg" type='submit' name='action' value='make_room'>
                    Make room
                </button>
                <button class="btn btn-outline-primary btn-lg" type='submit' name='action' value='view_results'>
                    View results
                </button>
                <button class="btn btn-outline-primary btn-lg" type='submit' name='action' value='join_room'>
                    Join room
                </button>
            </form>
        </div>
    </div>

    {# Enterを無効にする #}
    <script>
        $(function () {
            $("input").keydown(function (e) {
                if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
{% endblock %}