{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}TOPページ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    {#    <div class="jumbotron jumbotron-fluid">#}
    {#        <div class="container-fluid jumbotron-container">#}
    {#            <a href="https://jp.freepik.com/free-vector/_2803070.htm">Freepikによるデザイン</a>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container-fluid">
        <h1 class="site-name">App Name</h1>
        <p>
            <form action="{% url 'poll:index' %}" method="post">
                {% csrf_token %}
                <label>Room Name:<input type="text" size="20" name="room_name"></label>
                <a class="btn btn-black" role="button">
                    <button class="btn btn-outline-primary btn-lg"  type="submit" name="make_room">
                        Make room
                    </button>
                </a>
                <a class="btn btn-black" role="button">
                    <button class="btn btn-outline-primary btn-lg" type="submit" name="join_room">
                        Join room
                    </button>
                </a>
            </form>
        </p>
    </div>
{% endblock %}