{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}TOPページ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid jumbotron-container">
            <h1 class="">App Name</h1>
            {% csrf_token %}
            <a class="btn" href="./speaker/" role="button">
                <button class="btn btn-outline-primary btn-lg">
                    Make room
                </button>
            </a>
            <a class="btn" href="./listener/" role="button">
                <button class="btn btn-outline-primary btn-lg">
                    Join room
                </button>
            </a>
        </div>
    </div>
{% endblock %}