{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}Listener{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <form action="{% url 'poll:listener_a' room_id %}" method="post">
            <div class="row">
                {% csrf_token %}
                <div class="col-lg" style="text-align: center">
                    <h3>わかった</h3>
                    <button class="btn btn-circle btn-understand" name="button_1">
                    </button>
                </div>
                <div class="col-lg" style="text-align: center">
                    <h3>もう知っている</h3>
                    <button class="btn btn-circle btn-have-known" name="button_2">
                    </button>
                </div>
                <div class="col-lg" style="text-align: center">
                    <h3>わからない</h3>
                    <button class="btn btn-circle btn-not-understand" name="button_3">
                    </button>
                </div>
            </div>
        </form>
        <form action="{% url 'poll:listener_a' room_id %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Input comment" size="100" name="input_comment">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" style="background-color: white"
                            name="button_submit">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
    {% if error_message %}
        <p style="color: red;">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}
    <div class="jumbotron jumbotron-fluid">