{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}Listener{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid jumbotron-container">
            <form action="{% url 'poll:listener' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-circle btn-lg" type="submit" name="button_1" id="btn_1" onclick="clicked();">
                    わかった
                </button>
                <button class="btn btn-circle btn-lg" type="submit" name="button_2" id="btn_2" onclick="clicked();">
                    もう知ってる
                </button>
                <button class="btn btn-circle btn-lg" type="submit" name="button_3" id="btn_3" onclick="clicked();">
                    わからない
                </button>
            </form>
            <form action="{% url 'poll:listener' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input comment" size="100" name="input_comment">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="background-color: white"
                                name="button_submit">
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    function btnDisable() { //①ボタンを無効にする
        document.getElementById('btn_1').disabled = true;
        document.getElementById('btn_2').disabled = true;
        document.getElementById('btn_3').disabled = true;
        clearInterval(statusDis);
    }

    function btnAble() {  //②ボタンを有効にする
        document.getElementById('btn_1').disabled = false;
        document.getElementById('btn_2').disabled = false;
        document.getElementById('btn_3').disabled = false;
        clearInterval(statusAble);
    }

    function clicked() { //① + ②
        statusDis = setInterval(btnDisable, 1); //ボタンを押した直後に①を呼び出し
        statusAble = setInterval(btnAble, 60000); //ボタンを押して三秒後に②を呼び出し
    }
</script>