{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}Listener{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid jumbotron-container">
            <form action="{% url 'poll:listener' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-circle btn-lg" type="submit" name="button_1">
                    わかった
                </button>
                <button class="btn btn-circle btn-lg" type="submit" name="button_2">
                    もう知ってる
                </button>
                <button class="btn btn-circle btn-lg" type="submit" name="button_3">
                    わからない
                </button>
            </form>
            <form action="{% url 'poll:listener' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input comment" size="100" name="input_comment">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="background-color: white"
                                name="button_submit">
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}