{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}振り返りページ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <h1>振り返りのページ</h1>

    {# スライド数のグラフをバインドする要素の準備 #}
    {% for i in slide_list %}
        <p>{{ i }}</p>
        <div id={{ i }}></div>
    {% endfor %}

    <script>
        let datax = [];
        let data1 = [];
        let data2 = [];
        let data3 = [];

        let data_var = [];
        let counter = 0;

        {# x軸データ #}
        {% for list in time_list %}
            counter = {{ forloop.counter0 }};
            data_var[counter] = [];
            {% for v in list %}
                data_var[counter].push('{{ v }}');
            {% endfor %}
            datax.push(data_var[counter]);
        {% endfor %}

        {# 分かったデータ #}
        {% for list in data1_list %}
            counter = {{ forloop.counter0 }};
            data_var[counter] = [];
            {% for v in list %}
                data_var[counter].push('{{ v }}');
            {% endfor %}
            data1.push(data_var[counter]);
        {% endfor %}

        {# もう知ってるデータ #}
        {% for list in data2_list %}
            counter = {{ forloop.counter0 }};
            data_var[counter] = [];
            {% for v in list %}
                data_var[counter].push('{{ v }}');
            {% endfor %}
            data2.push(data_var[counter]);
        {% endfor %}

        {# 分からないデータ #}
        {% for list in data3_list %}
            counter = {{ forloop.counter0 }};
            data_var[counter] = [];
            {% for v in list %}
                data_var[counter].push('{{ v }}');
            {% endfor %}
            data3.push(data_var[counter]);
        {% endfor %}

        {# 折れ線グラフ作成 #}
        for (let i = 0; i < {{ max_slide }}; i++) {
            c3.generate({
                bindto: "#slide_" + (i+1),
                padding: {
                    right: 20
                },
                data: {
                    x: 'x',
                    xFormat: '%H:%M:%S',
                    columns: [
                        datax[i],
                        data1[i],
                        data2[i],
                        data3[i]
                    ]
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%H:%M:%S'
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}
