{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}TOPページ{% endblock %}

{# メインコンテンツ #}
{% block content %}

    {#  票数の割合のメーター  #}
    <div id="understand_gauge" class="understand">
        <h2>わかったメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <div id="have_known_gauge" class="have_known">
        <h2>もう知ってるメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <div id="not_understand_gauge" class="not_understand">
        <h2>わからないメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <script>
        let understand_gauge_cnt = 0;
        let have_known_gauge_cnt = 0;
        let not_understand_gauge_cnt = 0;
        let room_people_num = 1;

        let understand_gauge_chart = $('#understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        let have_known_gauge_chart = $('#have_known_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        let not_understand_gauge_chart = $('#not_understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        <!-- ========================================================== -->
        {#let dfd = $.Deferred();#}

        function getRoomPeoplenum() {
            let dfd = $.Deferred();
            $('#result').text('通信中...');
            // Ajax通信を開始
            $.ajax({
                url: 'http://127.0.0.1:8000/api/room-people/',
                type: 'GET',
                dataType: 'json',
                // フォーム要素の内容をハッシュ形式に変換
                data: $('form').serializeArray(),
                timeout: 1000,
            })
                .done(function (data) {
                    // 通信成功時の処理を記述
                    for (let i in data) {
                        console.log(data[i]);

                        room_people_num = data[i].num_listener;
                    }
                    dfd.resolve();
                })
                .fail(function () {
                    // 通信失敗時の処理を記述
                    console.log("通信失敗;_;");
                    dfd.reject();
                });
            return dfd.promise();
        }

        function getVotes() {
            let dfd = $.Deferred();
            $('#result').text('通信中...');
            // Ajax通信を開始
            $.ajax({
                url: 'http://127.0.0.1:8000/api/votes/',
                type: 'GET',
                dataType: 'json',
                // フォーム要素の内容をハッシュ形式に変換
                data: $('form').serializeArray(),
                timeout: 1000,
            })
                .done(function (data) {
                    // 通信成功時の処理を記述
                    for (let i in data) {
                        console.log(data[i]);

                        if (data[i].vote_type === 1) {
                            understand_gauge_cnt += 1;
                        } else if (data[i].vote_type === 2) {
                            have_known_gauge_cnt += 1;
                        } else if (data[i].vote_type === 3) {
                            not_understand_gauge_cnt += 1;
                        }
                    }
                    dfd.resolve();
                })
                .fail(function () {
                    // 通信失敗時の処理を記述
                    console.log("通信失敗;_;");
                    dfd.reject();
                });
            return dfd.promise();
        }

        function updateGauge() {
            understand_gauge_chart.update(understand_gauge_cnt / room_people_num);
            have_known_gauge_chart.update(have_known_gauge_cnt / room_people_num);
            not_understand_gauge_chart.update(not_understand_gauge_cnt / room_people_num);
            console.log(understand_gauge_cnt);
            console.log(have_known_gauge_cnt);
            console.log(not_understand_gauge_cnt);
            console.log(room_people_num);
            understand_gauge_cnt=0;
            have_known_gauge_cnt=0;
            not_understand_gauge_cnt=0;
        }

        setInterval(function () {
            $.when(
                getVotes(),
                getRoomPeoplenum(),
            )
                .then(updateGauge());
            console.log("ループの最後に到達");
         }, 3000);

    </script>

    <!-- ========================================================== -->

    <button>次のスライド</button>
    <button><a href={% url 'poll:speaker_res' %}> 講義終了</a></button>
    {# モーダルを表示する為のテスト用ボタン（後で消す） #}
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-sample">モーダルを表示</button>

    {# モーダルの配置 #}
    <div class="modal" id="modal-sample" tabindex="-1">
        <div class="modal-dialog modal-lg">

            {# モーダルのコンテンツ #}
            <div class="modal-content">
                {# モーダルのヘッダ #}
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">（例）お知らせ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {# モーダルのボディ #}
                <div class="modal-body">
                    （例）「わからない」がn%を超えました
                </div>
                {# モーダルのフッタ #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}