{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}振り返りページ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <h1>振り返りのページ</h1>

    {# スライド数のグラフをバインドする要素の準備 #}
    {% for i in slidenum %}
        <p>{{ i }}</p>
        <div id={{ i }}></div>
    {% endfor %}

    <script>
        {# 折れ線グラフ作成 #}
        for (let i = 1; i < 3; i++) {
            make_graph(i)
        }

        function make_graph(num) {
            c3.generate({
                bindto: "#slide" + num,
                padding: {
                    right: 20
                },
                data: {
                    x: 'x',
                    xFormat: '%H%M%S',
                    columns: [
                        ['x', '085501', '090302', '092003', '094004', '101005', '101500', '102000'],
                        ['分かった', 30, 20, 10, 40, 15, {{ test_number }}],
                        ['もう知ってる', 50, 10, 0, 15, 25],
                        ['分からない', 10, 20, 30, 40, 50, 60, 70]
                    ]
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%H:%M:%S'
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}
