{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}Ready{% endblock %}

{# メインコンテンツ #}
{% block content %}

    {#  票数の割合のメーター  #}
    <div class="container-fluid">
        <div class="row" style="position: center">
            <div class="col-lg" style="padding: 0%">
                <div class="container-meter">
                    <div id="understand_gauge" class="understand">
                        <h3>わかった</h3>
                        <div class="epoch gauge-medium"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg" style="padding: 0%">
                <div class="container-meter">
                    <div id="have_known_gauge" class="have_known">
                        <h3>もう知ってる</h3>
                        <div class="epoch gauge-medium"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg" style="padding: 0%">
                <div class="container-meter">
                    <div id="not_understand_gauge" class="not_understand">
                        <h3>わからない</h3>
                        <div class="epoch gauge-medium"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid jumbotron-container">
        {# コメント一覧表 #}
        <div class="container-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="text-center" style="width: 5%">スライド</th>
                    <th scope="col" class="text-center" style="width: 10%">時刻</th>
                    <th scope="col" class="text-center" style="width: 30%;">内容</th>
                </tr>
                </thead>
                <tbody id="comment_info">
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid jumbotron-container">
        <div class="slide-group-buttons">
            <form action="{% url 'poll:change-status' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-primary btn-lg" type='submit' name='action' value='start-lec'>
                    講義開始
                </button>
            </form>
        </div>
    </div>

    <script>
        $('#understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        $('#have_known_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        $('#not_understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });
    </script>

{% endblock %}