{# base.htmlを継承 #}
{% extends 'base.html' %}

{# タイトルを変更 #}
{% block title %}TOPページ{% endblock %}

{# メインコンテンツ #}
{% block content %}

    <h1 class="site-name">Speaking Now!!</h1>

    {#  票数の割合のメーター  #}
    <div id="understand_gauge" class="understand">
        <h2>わかったメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <div id="have_known_gauge" class="have_known">
        <h2>もう知ってるメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <div id="not_understand_gauge" class="not_understand">
        <h2>わからないメーター</h2>
        <div class="epoch gauge-small"></div>
    </div>

    <div id="comments">
        <p>コメント一覧</p>

    </div>

    <script>
        let understand_gauge_cnt = 0;
        let have_known_gauge_cnt = 0;
        let not_understand_gauge_cnt = 0;
        let room_people_num = 1;
        let understand_ratio;
        let have_known_ratio;
        let not_understand_ratio;
        let comments = [];

        let understand_gauge_chart = $('#understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        let have_known_gauge_chart = $('#have_known_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        let not_understand_gauge_chart = $('#not_understand_gauge .epoch').epoch({
            type: 'time.gauge',
            value: 0.0
        });

        function getRoomPeoplenum() {
            let dfd = $.Deferred();
            $('#result').text('通信中...');
            // Ajax通信を開始
            $.ajax({
                url: 'http://127.0.0.1:8000/api/room-people/',
                type: 'GET',
                dataType: 'json',
                // フォーム要素の内容をハッシュ形式に変換
                data: $('form').serializeArray(),
                timeout: 1000,
            })
                .done(function (data) {
                    // 通信成功時の処理を記述
                    for (let i in data) {
                        console.log(data[i]);

                        room_people_num = data[i].num_listener;
                    }
                    dfd.resolve();
                })
                .fail(function () {
                    // 通信失敗時の処理を記述
                    console.log("通信失敗;_;");
                    dfd.reject();
                });
            console.log("部屋の人数とってきたよー");
            return dfd.promise();
        }

        {# 票の情報を取得して集計 #}

        function getVotes() {
            let dfd = $.Deferred();
            understand_gauge_cnt = 0;
            have_known_gauge_cnt = 0;
            not_understand_gauge_cnt = 0;
            $('#result').text('通信中...');
            // Ajax通信を開始
            $.ajax({
                url: 'http://127.0.0.1:8000/api/votes/',
                type: 'GET',
                dataType: 'json',
                // フォーム要素の内容をハッシュ形式に変換
                data: $('form').serializeArray(),
                timeout: 1000,
            })
                .done(function (data) {
                    // 通信成功時の処理を記述
                    for (let i in data) {
                        console.log(data[i]);

                        if (data[i].vote_type === 1) {
                            understand_gauge_cnt += 1;
                        } else if (data[i].vote_type === 2) {
                            have_known_gauge_cnt += 1;
                        } else if (data[i].vote_type === 3) {
                            not_understand_gauge_cnt += 1;
                        }
                    }
                    dfd.resolve();
                })
                .fail(function () {
                    // 通信失敗時の処理を記述
                    console.log("通信失敗;_;");
                    dfd.reject();
                });
            console.log("票数とってきたよー");
            return dfd.promise();
        }

        function getComments() {
            let dfd = $.Deferred();
            understand_gauge_cnt = 0;
            have_known_gauge_cnt = 0;
            not_understand_gauge_cnt = 0;
            $('#result').text('通信中...');
            // Ajax通信を開始
            $.ajax({
                url: 'http://127.0.0.1:8000/api/comments/',
                type: 'GET',
                dataType: 'json',
                // フォーム要素の内容をハッシュ形式に変換
                data: $('form').serializeArray(),
                timeout: 1000,
            })
                .done(function (data) {
                    // 通信成功時の処理を記述
                    comments=[]
                    for (let i in data) {
                        console.log(data[i]);
                        comments.push(data[i].comment_text)
                    }
                    console.log(comments);
                    dfd.resolve();
                })
                .fail(function () {
                    // 通信失敗時の処理を記述
                    console.log("通信失敗;_;");
                    dfd.reject();
                });
            console.log("コメントとってきたよー");
            return dfd.promise();
        }

        function dispComments() {
            document.getElementById('comments').innerHTML = "<p>コメント一覧</p>";
            for (let i in comments) {
                document.getElementById('comments').innerHTML += comments[i]+"<br>";
            }
        }

        {# ゲージの値をDBから取得した値に基づいて更新 #}

        function updateGauge() {
            understand_ratio = understand_gauge_cnt / room_people_num;
            have_known_ratio = have_known_gauge_cnt / room_people_num;
            not_understand_ratio = not_understand_gauge_cnt / room_people_num;

            understand_gauge_chart.update(understand_ratio);
            have_known_gauge_chart.update(have_known_ratio);
            not_understand_gauge_chart.update(not_understand_ratio);
            console.log(understand_gauge_cnt);
            console.log(have_known_gauge_cnt);
            console.log(not_understand_gauge_cnt);
            console.log(room_people_num);
        }

        function dispModal() {
            if (have_known_ratio > 0.5 && not_understand_ratio > 0.5) {
                $('#modal-both').modal('show');
                setTimeout(function () {
                    $('#modal-both').modal('hide');
                }, 3000);
            } else if (have_known_ratio > 0.5) {
                $('#modal-have-known').modal('show');
                setTimeout(function () {
                    $('#modal-have-known').modal('hide');
                }, 3000);
            } else if (not_understand_ratio > 0.5) {
                $('#modal-not-understand').modal('show');
                setTimeout(function () {
                    $('#modal-not-understand').modal('hide');
                }, 3000);
            }
        }

        {# 票の情報を取得して集計 #}



        {# 第二引数[msec]の間隔でfunctionを実行 #}
        setInterval(function () {
        {# getRoomPeoplenum()にするとconsoleに部屋の人数とってきたよーと票数とってきたよーが並ぶ #}
        {# ひとまずこれで期待する動作が得られる #}
        getVotes()
            .then(getRoomPeoplenum)
            .then(updateGauge)
            .then(getComments)
            .then(dispComments)
            .then(dispModal);
        {#$.when(#}
        {#    getVotes(),#}
        {#    getRoomPeoplenum()#}
        {#).then(updateGauge())#}
         }, 5000);

    </script>

    <!-- ========================================================== -->

    <form action="{% url 'poll:change-status' %}" method="post">
        {% csrf_token %}
        <button type='submit' name='action' value='next-slide'>次のスライド</button>
        <button type='submit' name='action' value='fin-lec'>講義終了</button>
    </form>


    <!-- ========================================================== -->

    {# モーダルの配置 #}
    <div class="modal" id="modal-both" tabindex="-1">
        <div class="modal-dialog modal-lg">

            {# モーダルのコンテンツ #}
            <div class="modal-content">
                {# モーダルのヘッダ #}
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">お知らせ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {# モーダルのボディ #}
                <div class="modal-body">
                    「もう知ってる」「わからない」が50%を超えました
                </div>
            </div>
        </div>
    </div>

    {# モーダルの配置 #}
    <div class="modal" id="modal-have-known" tabindex="-1">
        <div class="modal-dialog modal-lg">

            {# モーダルのコンテンツ #}
            <div class="modal-content">
                {# モーダルのヘッダ #}
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">お知らせ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {# モーダルのボディ #}
                <div class="modal-body">
                    「もう知ってる」が50%を超えました
                </div>
            </div>
        </div>
    </div>

    {# モーダルの配置 #}
    <div class="modal" id="modal-not-understand" tabindex="-1">
        <div class="modal-dialog modal-lg">

            {# モーダルのコンテンツ #}
            <div class="modal-content">
                {# モーダルのヘッダ #}
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">お知らせ</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {# モーダルのボディ #}
                <div class="modal-body">
                    「わからない」が50%を超えました
                </div>
            </div>
        </div>
    </div>

{% endblock %}