{% load static %}
<!DOCTYPE html>
<html lang=ja>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# タイトルブロック #}
    <title>{% block title %}{% endblock %}</title>

    {# style.cssを読み込む #}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/style.css' %}"/>
    {# モーダルウィンドウ作るのに必要っぽいものを読み込む #}
    <link rel="stylesheet" href="{% static 'poll/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="{% static 'poll/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'poll/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'poll/js/GaugeMeter.js' %}"></script>
        <script>
            $(document).ready(function () {
                $(".GaugeMeter").gaugeMeter();
            });
        </script>
</head>

<body class="body" style="padding-top: 3.5rem">

{# ナビゲーションバー #}
{% block navi %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #00bfff">
        <a class="navbar-brand" href="#">AppName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search room">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="background-color: white">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
{% endblock %}

{# メインコンテンツ #}
{% block content %}{% endblock %}

<footer class="footer">
    <div class="credits">
        <span class="copyright">
		    © <script>document.write(new Date().getFullYear().toString())</script> Studio Aquatan
        </span>
    </div>
</footer>

</body>

</html>